.user-heading {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.profile-card {
  width: 320px;
  background: #f1f8f4;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 128, 0, 0.12);
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-top: 6px solid #6fcf97;
}
.app-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 38px rgba(0, 128, 0, 0.25);
}
.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #2e704a;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
}
.profile-card:hover .profile-img {
  transform: scale(1.1);
}
h2 {
  margin: 6px 0;
  color: #2f5d50;
}
.email {
  font-size: 14px;
  color: #4f7f6c;
  margin-bottom: 12px;
}
.info {
  text-align: left;
  font-size: 14px;
  color: #355f52;
  margin-bottom: 15px;
}
.info p {
  margin: 4px 0;
}
.profile-link {
  display: inline-block;
  padding: 8px 18px;
  background: #2e704a;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
  transition: background 0.3s ease, transform 0.3s ease;
}
.profile-link:hover {
  background: #6fcf97;
  transform: scale(1.08);
  color: black; 
}