#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.custom-card {
  border-radius: 18px;
  overflow: hidden;
  border: none;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  background: #fff;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.image-wrapper {
  overflow: hidden;
  height: 220px;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.custom-card:hover img {
  transform: scale(1.1);
}

.price {
  color: #28a745;
  font-weight: bold;
}

.category {
  font-size: 14px;
  color: #777;
}

.stock {
  font-size: 13px;
  color: #999;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-edit {
  background: #ffc107;
  border: none;
  border-radius: 20px;
  padding: 6px 18px;
  font-size: 14px;
}

.btn-delete {
  background: #dc3545;
  border: none;
  border-radius: 20px;
  padding: 6px 18px;
  font-size: 14px;
}

.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.85;
}

/* AddProduct css */

/* FORM CARD */
.form-card {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

/* INPUT STYLE */
.form-control {
  border-radius: 12px;
  padding: 10px;
  transition: 0.3s ease;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 8px rgba(255, 193, 7, 0.4);
}

/* SUBMIT BUTTON */
.submit-btn {
  background: linear-gradient(45deg, #ffc107, #ff9800);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 30px;
  transition: 0.3s ease;
}

.submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 152, 0, 0.4);
}